/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body, html { font-size: 100%; 	padding: 0; margin: 0; overflow:hidden;}
/* Reset */
*{
	margin:0;
  padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #249b9f;
	background: #09152c;
	height: 100vh;
}

.main {
	max-width: 69em;
	padding-top: 2em;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	min-width: 320px;
	position: relative;
}


/* Header Style */
.codrops-top {
	text-transform: uppercase;
	position: relative;
	font-size: 0.68em;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 2.2;
}

@media screen and (max-width: 46.0625em) {
	.main {
		padding: 0;
	}

	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 3em 2em;
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
		background-position: 90px 3em;
	}
}
